@import "theme";
@import "break-points";

* {
  box-sizing: border-box;
}

.banner {

  background-image: url(../images/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
}

.banner-text {
  padding: 0 15px;
  h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    margin: 20px 0 10px;

  }

  p {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
    text-align: center;
    margin: 0 auto 80px;


  }
}
/*
@media screen and (max-width: $xs) {
  .banner-text {
    padding-top: 45%;

    h1 {
      font-size: 32px;
    }
  }
}*/

.btn-large {
  padding: 15px 40px;

}

div {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}