@import "theme";
@import "break-points";

* {
  box-sizing: border-box;
}

.banner {

  background-image: url(../images/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
}

.banner-text {
  padding: 0 15px;
 // height: 611px;

  h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    margin: 20px 0 10px;

  }

  p {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
    text-align: center;
    margin: 0 auto 80px;


  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .banner-text {
    padding-top: 30%;
    width: 690px;

    h1 {
      font-size: 42px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .text-center {
    text-align: center;
  }
  .banner-text p {
    font-size: 18px;
    font-family: $font-context;
    font-weight: 300;
    margin: 0 0 80px;
    width: 100%;
    line-height: 1.5;
    padding: 0;

  }

}

@media screen and (min-width: $lg) and (max-width: $xl) {
  .banner-text {
    padding-top: 190px;
    width: 753px;
    height: 437px;

    h1 {
      font-size: 65px;
      margin-top: 20px;
      margin-bottom: 10px;
      width: 753px;
    }
  }
  .text-center {
    text-align: center;
  }
  .banner-text p {
    font-size: 22px;
    font-family: $font-context;
    font-weight: 300;
    margin: 0 0 80px;
    width: 100%;
    line-height: 1.5;
    padding: 0;

  }

}

@media screen and (min-width: 1025px) {
  .banner-text {
    padding-top: 190px;
    width: 753px;
    height: 437px;

    h1 {
      font-size: 65px;
      margin-top: 20px;
      margin-bottom: 10px;
      width: 753px;
    }
  }
  .text-center {
    text-align: center;
  }
  .banner-text p {
    font-size: 22px;
    font-family: $font-context;
    font-weight: 300;
    margin: 0 0 80px;
    width: 100%;
    line-height: 1.5;
    padding: 0;

  }

}
/*
@media screen and (max-width: $xs) {
  .banner-text {
    padding-top: 45%;

    h1 {
      font-size: 32px;
    }
  }
}*/

.btn-large {
  padding: 15px 40px;

}

div {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}