@import "theme";
@import "break-points";

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 40px 0;
    width: 90%;
    transition: padding 0.3s;
    .clearfix {
      .logo {
        vertical-align: middle;
        float: left;

      }
    }
  }

}


.fixed {
  background-color: #292c47;
}

#header.fixed .header-content {
  border-bottom: 0;
  padding: 25px 0; }
#header.fixed .nav-toggle {
  top: 18px; }
