@import "footer";
@import "header";
@import "banner";
@import "nav_toggle";
@import "navigation";
@import "button";
@import "feature";
@import "works";
@import "download";
@import "slider";
@import "font_icon";


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.42857143;
  min-height: 100vh;
  margin: auto;
}

* {
  box-sizing: border-box;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}


@media screen and (min-width: $lg) {


}

.socialIcons, .footerItem a {
  border: 1px solid rgb(232, 236, 238);
  border-radius: 2px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
}


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover, a:active{

  transition: background-color, color, 0.3s;
}

img {
  vertical-align: middle;
}

.text-center{
  text-align: center;
}

.work:nth-child(1) {
  animation-delay: 0.1s; }
.work:nth-child(2) {
  animation-delay: 0.2s; }
.work:nth-child(3) {
  animation-delay: 0.3s; }
.work:nth-child(4) {
  animation-delay: 0.4s; }
.work:nth-child(5) {
  animation-delay: 0.8s; }
.work:nth-child(6) {
  animation-delay: 0.7s; }
.work:nth-child(7) {
  animation-delay: 0.6s; }
.work:nth-child(8) {
  animation-delay: 0.5s; }

.animated {
  visibility: visible; }

@media screen and (max-width: 1024px) {
  #header .header-content {
    width: 90%; }

  .nav-toggle {
    display: block; }

  .navigation {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s 0.5s; }
  .navigation .primary-nav {
    position: relative;
    top: 45%;
    transform: translateY(-45%); }
  .navigation li {
    display: block;
    margin-bottom: 20px; }
  .navigation a {
    display: block;
    font-size: 25px;
    margin: 0;
    text-align: center; }

  .person {
    margin: 0 auto 50px; }
  .person-content {
    text-align: center; }
  .person .social-icons li {
    display: inline-block;
    float: none;
    margin-bottom: 5px; }

  .testimonials blockquote {
    padding: 20px 5% 0; }
  .testimonials p {
    font-size: 26px; }

  .flex-control-nav {
    bottom: 20px; } }
@media screen and (max-width: 768px) {
  .banner-text {
    padding-top: 30%; }
  .banner-text h1 {
    font-size: 42px; }
  .banner-text p {
    font-size: 18px; }

  .flexslider {
    padding-bottom: 80px; }

  .flex-control-nav {
    width: 100%; }

  .footer .footer-col {
    margin-bottom: 50px; } }
@media screen and (max-width: 640px) {
  .banner-text {
    padding-top: 35%; } }
@media screen and (max-width: 480px) {
  .banner-text {
    padding-top: 45%; }
  .banner-text h1 {
    font-size: 32px; } }
@media screen and (max-width: 320px) {
  .banner-text {
    padding-top: 55%; }

  .testimonials blockquote {
    padding: 20px 5% 0; }
  .testimonials p {
    font-size: 26px; } }