@import "theme";
@import "break-points";
/*
.person {
  margin: 0 auto 50px; }
.person-content {
  text-align: center; }
.person .social-icons li {
  display: inline-block;
  float: none;
  margin-bottom: 5px; }

.testimonials blockquote {
  padding: 20px 5% 0; }
.testimonials p {
  font-size: 26px; }

.flex-control-nav {
  bottom: 20px; }*/
@media screen and (max-width: 768px) {
  .banner-text {
    padding-top: 30%;
  }
  .banner-text h1 {
    font-size: 42px;
  }
  .banner-text p {
    font-size: 18px;
  }
}

.userCard {
  max-width: 270px;
  margin: 0 auto;

 h4, h5 { width: 270px}
}

@media screen and (min-width: $lg) {
    .cardWrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .userCard {
    max-width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    .userImg {

      width: 212px;
      height: 212px;
    }
    h4, h5, p{
      width: 212px;
    }
  }



}


@media screen and (min-width: $md) and (max-width: $lg) {
  .cardWrapper {

    display: flex;
    flex-wrap: wrap;

  }
}


