@import "theme";
@import "break-points";

@media screen and (min-width: $md) and (max-width: $lg) {
  .container-fluid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .work {
    width: 50%;
  }
}

@media screen and (min-width:  $lg)   {
  .container-fluid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .work {
    width: 25%;
  }
}
.work {
  -moz-box-shadow: 0 0 0 1px #fff;
  -webkit-box-shadow: 0 0 0 1px #fff;
  box-shadow: 0 0 0 1px #fff;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  visibility: hidden;
}

.work .overlay {
  background: rgba(232, 69, 69, 0.9);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  transition: opacity, 0.3s;
}

.work .overlay-caption {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.work h5, .work p, .work img {
  transition: all, 0.5s;
}

.work h5, .work p {
  color: #fff;
  margin: 0;
  opacity: 0;
}

.work h5 {
  margin-bottom: 5px;
  transform: translate3d(0, -200%, 0);
}

.work p {
  transform: translate3d(0, 200%, 0);
}

.work-box:hover img {
  transform: scale(1.2);
}

.work-box:hover .overlay {
  opacity: 1;
}

.work-box:hover .overlay h5, .work-box:hover .overlay p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.no-padding {
  padding: 0;
}



