@import "../../assets/scss/theme";
@import "../../assets/scss/break-points";
//@import "/components/UserCard";
* {
  box-sizing: border-box;
}
#team {
  padding: 100px 0;

}

h4 {
  color: #2d3033;
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
}

.role {
  color: $accent-color;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 14px;
  color: #6c7279;
  margin: 0 0 10px;
  text-align: center;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  width: 270px;
}

.mediaPerson {
  @media screen and (min-width: $md) {
    width: 50%;
  }
  @media screen and (min-width: $lg) {
    width: 50%;
  }
  @media screen and (min-width: $xl) {
    margin-bottom: 50px;
  }
  padding: 0 15px;
}

