@import "theme";
@import "break-points";
@import "mobile_navigation";

#header {
    position: fixed;
    width: 100%;
    z-index: 999; }
#header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 40px 0;
    width: 100%;
    transition: padding 0.3s; }
#header .logo {
    float: left; }

#header.fixed {
    background-color: #292c47; }
#header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0; }
#header.fixed .nav-toggle {
    top: 18px; }
@media screen and (max-width: 1024px){
    .navigation {
        visibility: hidden;
    }
    .mobileNavigationContainerOpen {
        display: flex!important;
        opacity: .9;
    }

    .mobileNavigationContainer {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .3s;
    }
}


@media screen and (min-width: $lg) {

    .navigation.open {
        opacity: 0.9;
        visibility: visible;
        transition: opacity 0.5s;
    }

    .navigation {
        float: right;
    }
    .navigation li {
        display: inline-block;
    }
    .navigation a {
        color: rgba(255, 255, 255, 0.75);
        font-size: 13px;
        font-weight: 700;
        margin-left: 40px;
        text-transform: uppercase;
    }
    .navigation a:hover, .navigation a.active {
        color: #fff;
    }
    .nav-toggle {
        display: none;
    }
    .banner-text {
    h1 {
        font-size: 2px;
    }
}
}

.nav-toggle {
    display: none;
    height: 44px;
    overflow: hidden;
    position: fixed;
    right: 5%;
    text-indent: 100%;
    top: 32px;
    white-space: nowrap;
    width: 44px;
    z-index: 99999;
    transition: all 0.3s; }
.nav-toggle:before, .nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-property: transform; }
.nav-toggle:before {
    background-color: #e84545;
    transform: scale(1);
    transition-duration: 0.3s; }
.nav-toggle:after {
    background-color: #e84545;
    transform: scale(0);
    transition-duration: 0s; }
.nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 18px;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%); }
.nav-toggle span:before, .nav-toggle span:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.3s; }
.nav-toggle span:before {
    transform: translateY(-6px) rotate(0deg); }
.nav-toggle span:after {
    transform: translateY(6px) rotate(0deg); }
.nav-toggle.close-nav:before {
    transform: scale(0); }
.nav-toggle.close-nav:after {
    transform: scale(1); }
.nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0); }
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
    background-color: #fff; }
.nav-toggle.close-nav span:before {
    transform: translateY(0) rotate(45deg); }
.nav-toggle.close-nav span:after {
    transform: translateY(0) rotate(-45deg); }



.banner{

    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #6c7279;
    box-sizing: border-box;
    display: block;
    background-image: url(../images/banner.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}

.banner-text{
h1{
    text-align: center;
    padding-top: 25%;
    margin: .67em 0;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    text-align: center;
    scroll-behavior: smooth;
    font: inherit;
    vertical-align: baseline;
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
}
}



#header{

    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #6c7279;
    box-sizing: border-box;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;

.header-content{
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 40px 0;
    transition: padding 0.3s;
}
}

.nav-toggle{

    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Raleway", sans-serif;
    font-weight: 400;

    background-color: transparent;
    text-decoration: none;
    color: #e84545;
    height: 44px;
    width: 44px;
    overflow: hidden;
    position: fixed;
    right: 5%;
    text-indent: 100%;
    top: 32px;
    white-space: nowrap;
    z-index: 99999;
    transition: all 0.3s;
    display: block;
}


#navigation{
    color: #222;
    text-align: center;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
}

.btn-large {
    padding: 15px 40px;
}

.btn{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;


}